doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Admin Password Reset OTP
p Hi Admin,
p
  | The OTP to reset your CookandChef admin dashboard password is: 
  strong #{otp}
  | .
p Do not share this OTP with anyone.
p Thank you
