head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  title
div(style='padding: 2% 20%; animation:slide 3s ease-in-out infinite alternate;\
background-image: linear-gradient(-60deg, #FBE3DF 50%, #fff 50%);\
')
  div(style='display: flex; justify-content: left;')
    img(src='https://cookandchef.s3.ap-south-1.amazonaws.com/cnc/logo.png' alt='' style='height: 60px; width:150px; margin-bottom:1%;')
  br
  p
    | Welcome to CookandChef #{user}! We&apos;re so excited to have you as a user of the CookandChef community.
  p
    | We know you&apos;re probably eager to get started, so here are a few things you can do right away:
  p(style='margin-left:3%; line-height:25px;')
    | 1. Post your requirement or event.
    br
    | 2. Explore cook profiles from the India&apos;s biggest pure-play cooking professionals network.
    br
    | 3. Update your profile to attract more applications from potential candidates.
    br
  p Ready to Explore?
  br
  br
  br
  div(style='display:flex;justify-content:center;')
    a(href='https://cookandchef.in/' type='button' style='background-color: #ff5c09; text-decoration: none; font-size: 20px; color: white; border-radius: 5px; line-height: 2; width: 150px; text-align: center;') Get Started
