head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  title
div(style='padding: 1% 5%;')
  img(src='https://cookandchef.s3.ap-south-1.amazonaws.com/cnc/Desktop+1920x1080+Sign+up+(1)-min.jpg' alt='' style='height: auto; width:100%;border-radius: 5px;')
  br
  br
  br
  span Dear &nbsp; #{username}
  p
    | Welcome to CookandChef! We are so excited to have you join our growing community.
    br
    br
    |         At CookandChef, we are committed to providing our users with the best possible experience. We believe that CookandChef can help you finding the best job.
    br
    br
    | To get started with CookandChef, simply update your profile and apply to requirements. You can also find jobs/requirements and contact them directly.
    br
    br
    |         If you have any questions, please don&apos;t hesitate to contact our customer support team at [support@cookandchef] or [9178828999].
  br
  p(style='text-align:left; font-weight: 500;') Thank you for choosing CookandChef!
  p(style='text-align: left;')
    | Sincerely,
    br
    |     The CookandChef Team
