head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  title
div(style='padding: 1% 5%;')
  img(src='https://cookandchef.s3.ap-south-1.amazonaws.com/cnc/Desktop+1920x1080+application+received.jpg' alt='' style='height: auto; width:100%;border-radius: 5px;')
  br
  br
  br
  span Dear &nbsp; #{username}
  p
    | A candidate has shown interest for your #{eventName} event.
    br
    br
    br
    button(type='button' style='background-color: #ff5c09;border: none; font-size: 20px; color: white; border-radius: 5px; line-height: 2; width: 200px;') View Interest
    br
    br
    | Next Steps:
    br
    ul
      li
        | Review the applicant&apos;s profile and contact information directly through CookandChef application or website.
      br
      li
        | If you are interested in learning more about the applicant, you can schedule an interview or contact them directly.
      br
      li
        | We encourage you to review all applications promptly and contact applicants you are interested in interviewing.
      br
      li
        | We recommend that you conduct a thorough background verification of the applicant to confirm their qualifications and experience.
  br
  p(style='text-align: left;')
    | Sincerely,
    br
    |     The CookandChef Team
