<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>file_{{invoiceNumber}}</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .s1 {
            color: #C00;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 30pt;
        }

        .s2 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 18pt;
        }

        .s3 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
        }

        .s4 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10pt;
        }

        .s5 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10pt;
        }

        .s6 {
            color: #C0C0C0;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
        }

        p {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 7pt;
            margin: 0pt;
        }

        table,
        tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>

<body>
    <span>
        <table border="0" cellspacing="0" cellpadding="0"></table>
    </span></p>
    <p class="s1" style="padding-top: 6pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">CookandChef India Pvt.
        Ltd.</p>
    <p class="s2" style="padding-top: 21pt;padding-left: 113pt;text-indent: 0pt;text-align: center;">Invoice</p>
    <p class="s3" style="padding-top: 19pt;padding-left: 6pt;text-indent: 0pt;line-height: 157%;text-align: left;">
        Invoice No. {{invoiceNumber}} Plan Name:{{planName}} Invoice Date: {{invoiceDate}}</p>
    <table style="border-collapse:collapse;margin-left:6.48pt" cellspacing="0">
        <tr style="height:23pt">
            <td
                style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Billed By
                </p>
            </td>
            <td
                style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Billed To
                </p>
            </td>
        </tr>
        <tr style="height:23pt">
            <td style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080"
                bgcolor="#DFDFDE">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">CookandChef
                    India Pvt Ltd</p>
            </td>
            <td style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080"
                bgcolor="#DFDFDE">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">{{name}}</p>
            </td>
        </tr>
        <tr style="height:34pt">
            <td
                style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s4" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Address:</p>
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Dhenkanal,
                    Odisha, 759014</p>
            </td>
            <td
                style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s4" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Address:</p>
                <p class="s4" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">
                    {{address}}</p>
            </td>
        </tr>
        <tr style="height:23pt">
            <td style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080"
                bgcolor="#DFDFDE">
                <p style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;"><a
                        href="mailto:support@cookandchef.in" class="s5" target="_blank">Email:
                        support@cookandchef.in</a></p>
            </td>
            <td style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080"
                bgcolor="#DFDFDE">
                <p style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;"><a
                        href="mailto:pakashalefoods@gmail.com" class="s5" target="_blank">Email:{{email}}</a></p>
            </td>
        </tr>
        <tr style="height:23pt">
            <td
                style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Phone:
                    9178828999 / 9438000340</p>
            </td>
            <td
                style="width:227pt;border-top-style:solid;border-top-width:1pt;border-top-color:#808080;border-left-style:solid;border-left-width:1pt;border-left-color:#808080;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#808080;border-right-style:solid;border-right-width:1pt;border-right-color:#808080">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Phone:
                    {{mobile}}</p>
            </td>
        </tr>
    </table>
    <table style="border-collapse:collapse;margin-left:6.48pt" cellspacing="0">
        <tr style="height:23pt">
            <td
                style="width:128pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 4pt;padding-left: 70pt;text-indent: 0pt;text-align: left;">Item Name
                </p>
            </td>
            <td
                style="width:198pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Description
                </p>
            </td>
            <td
                style="width:128pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Amount</p>
            </td>
        </tr>
        <tr style="height:91pt">
            <td style="width:128pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                rowspan="3">
                <p class="s4" style="padding-top: 4pt;padding-left: 25pt;text-indent: 0pt;text-align: left;">Plan Name:
                    {{planName}}</p>
            </td>
            <td
                style="width:198pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">45 days
                    Validity</p>
                <p class="s4" style="padding-top: 10pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">3 Job Post
                </p>
                <p class="s4" style="padding-top: 10pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">125 Profile
                    View</p>
                <p class="s4" style="padding-top: 10pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Unlimited
                    Candidate Response</p>
            </td>
            <td
                style="width:128pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">{{amount}}
                </p>
            </td>
        </tr>
        <tr style="height:23pt">
            <td style="width:198pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#DFDFDE">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Discount</p>
            </td>
            <td style="width:128pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#DFDFDE">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">{{discount}}
                </p>
            </td>
        </tr>
        <tr style="height:23pt">
            <td
                style="width:198pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Total</p>
            </td>
            <td
                style="width:128pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">
                    {{totalAmount}}</p>
            </td>
        </tr>
    </table>
    <p class="s6" style="padding-top: 13pt;padding-left: 113pt;text-indent: 0pt;text-align: center;">***Computer
        generated invoice- No Signature required***</p>
    <p style="padding-top: 9pt;padding-left: 6pt;text-indent: 0pt;line-height: 168%;text-align: left;">Note: CookandChef
        is a job portal. CookandChef always make sure to keep the details of Employers and Employees secure but will not
        be liable for unauthorized access to the information provided by any party whatsoever. CookandChef will not be
        responsible if any candidate has committed crime/illegal activity at employer&#39;s premises. Background
        verification of candidates who are/will be hired is a</p>
    <p style="padding-left: 6pt;text-indent: 0pt;line-height: 168%;text-align: left;">responsibility of respective
        recruiter/recruiter&#39;s company. The refund policy is applicable for some specific plans and when customer
        reports to the support team with in the mentioned timeline.</p>
    <p style="text-indent: 0pt;text-align: left;" />
</body>

</html>