head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  title
div(style='padding: 1% 5%;')
  br
  br
  br
  span Dear &nbsp; #{username}
  p
    | We&apos;re thrilled to welcome you to the CookandChef community! Thank you for subscribing to our #{planName} plan.
    br
    br
    |         We&apos;re confident that you&apos;ll find our subscription to be a valuable investment. To help you get started, we&apos;ve included some helpful resources below:
    br
    br
    ul
      li
        a(href='https://cookandchef.in/' style='color:#ff5c09;') Getting Started 
      br
      li
        a(href='https://cookandchef.in/faq' style='color:#ff5c09;') FAQ
    br
    |     If you have any questions or need assistance, please don&apos;t hesitate to contact our friendly support team. We&apos;re always happy to help!
    br
    br
    |     Thank you again for choosing CookandChef. We&apos;re excited to be a part of your journey!
  br
  p(style='text-align: left;')
    | Sincerely,
    br
    |     The CookandChef Team
